<%- include('header') -%>

<h2>This is My about Page</h2>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis reprehenderit, nulla veritatis consectetur
  ad suscipit consequatur distinctio accusamus culpa optio dolorem nobis magni dignissimos cumque consequuntur
  possimus dolores! Adipisci minus, quaerat autem soluta earum veritatis magnam deserunt quam maxime asperiores
  dicta placeat quod pariatur, doloribus ullam id, hic perferendis libero!
</p>

<%- include('footer') -%>
